header {
    display: block;
}

body {
    font-size: 16px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: lightgray;
}

p {
    line-height: 1.5;
}

section {
    padding-left: 2em;
}

img {
    max-width: 500px;
    max-height: 500px;
    padding-top: .5em;
    padding-bottom: 1em;
}